<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresMed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-lux.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <script src="~/js/jquery.inputmask.js"></script>


    <!-- <link rel="stylesheet" type="text/css" href="~/lib/Datatable/datatables.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" />


</head>
<body id="body-pd" class="body-pd">
    <header class="header body-pd" id="header">
        <div class="header_toggle"> <i class="fas fa-bars bx bx-layer nav_logo-icon" id="header-toggle"></i> </div>
    </header>
    <div class="l-navbar show" id="nav-bar">
        @await Component.InvokeAsync("Menu");
    </div>
    <!--Container Main start-->
    <div class="height-100" role="main">
        @RenderBody()
    </div>

    <!--Container Main end-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/CEP.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
</body>
</html>
