<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresMed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-lux.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <script src="~/js/jquery.inputmask.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">


</head>
<body id="body-pd" class="body-pd">
    <header class="header body-pd" id="header">
        <div class="header_toggle"> <i class="fas fa-bars bx bx-layer nav_logo-icon" id="header-toggle"></i> </div>
    </header>
    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div>
                <a asp-controller="Home" asp-action="Index" class="nav_logo"> <img img src="~/images/documento.png" width="20px" height="20px" class='nav_logo-icon' /> <span class="nav_logo-name">PresMed</span> </a>
                <div class="nav_list">
                    <a asp-controller="Home" asp-action="Index" class="nav_link" id="home"> <i class="fas fa-home"></i> <span class="nav_name">Pagina Inicial</span> </a>
                    <a asp-controller="Scheduling" asp-action="Index" class="nav_link" id="agendamentos"> <i class="fas fa-calendar-alt"></i> <span class="nav_name">Agendamentos</span> </a>
                    <a asp-controller="Assistant" asp-action="Index" class="nav_link" id="auxiliares"> <i class="fas fa-user-tie"></i><span class="nav_name">Assistentes</span> </a>
                    <a asp-controller="Doctor" asp-action="Index" class="nav_link" id="medicos"> <i class="fas fa-user-md"></i> <span class="nav_name">Medicos</span> </a>
                    <a asp-controller="Patient" asp-action="Index" class="nav_link" id="pacientes"> <i class="fas fa-user-injured"></i> <span class="nav_name">Pacientes</span> </a>

                </div>
            </div>
            <a asp-controller="" asp-action="" class="nav_link"> <i class="fas fa-sign-out-alt"></i> <span class="nav_name">Sair</span> </a>
        </nav>
    </div>
    <!--Container Main start-->
    <div class="height-100" role="main">
        @RenderBody()
    </div>

    <!--Container Main end-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/CEP.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
</body>
</html>
