<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresMed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-lux.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery.inputmask.js"></script>


    <!-- <link rel="stylesheet" type="text/css" href="~/lib/Datatable/datatables.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" />


</head>
<body id="" style="overflow: hidden">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <div class="">
                <img src="~/images/documento.png" width="40px" height="40px" style="margin-top: -1.2rem" class="ms-4"/> <span class="display-6 ms-4 ">PresMed</span>
            </div>
        </div>
    </nav>
    <!--Container Main start-->
    <div role="main" style="height: 100%">
        @RenderBody()
    </div>

    <!--Container Main end-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/CEP.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
</body>
</html>
