<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresMed</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min-flatly.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
</head>
<body>

    <!-- The sidebar -->
    <div class="top "><span> PresMed - Secretaria</span></div>
    <div class="sidebar">
        <a id="item1" class="" asp-controller="Home" asp-action="Index">  <img src="~/images/home.png" width="20px" height="20px" style=" float:left; margin-top:3px " /> <span style="margin-left:2rem;">Pagina Inicial</span> </a>
        <a id="item2" class="" asp-controller="Home" asp-action="Privacy">  <img src="~/images/paciente.png" width="20px" height="20px" style=" float:left; margin-top:3px " /> <span style="margin-left:2rem;">Pacientes</span> </a>
        <a id="item3" class="" asp-controller="Doctor" asp-action="Index">  <img src="~/images/medico.png" width="20px" height="20px" style=" float:left; margin-top:3px " /> <span style="margin-left:2rem;">Medicos</span> </a>
        <a id="item4" class="" asp-controller="" asp-action="">  <img src="~/images/secretaria.png" width="20px" height="20px" style=" float:left; margin-top:3px " /> <span style="margin-left:2rem;">Secretaria</span> </a>
        <a id="item5" class="" asp-controller="" asp-action="">  <img src="~/images/agenda.png" width="20px" height="20px" style=" float:left; margin-top:3px " /> <span style="margin-left:2rem;">Agendamentos</span> </a>
        <a asp-controller="" asp-action="" class="fixed-bottom logout"> <img src="~/images/logout.png" width="20px" height="20px" style=" float:left; margin-top:3px " />   <span style="margin-left:2rem;">Fernando</span> </a>
    </div>

    <!-- Page content -->
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - PresMed
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
