@{
    ViewData["Title"] = "Cadastrar assistente";
}


<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>
<hr />


<form class="row g-3">
    <div class="col-md-6">
        <label for="nome" class="form-label">Nome completo <span class="text-danger">*</span></label>
        <input required type="text" class="form-control" id="nome" placeholder="Digite o nome completo">
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">E-mail <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="email" placeholder="Digite o e-mail">
    </div>
    <div class="col-md-6">
        <label for="user" class="form-label">Usuario <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="user" placeholder="Digite o nome de usuario">
    </div>
    <div class="col-md-6">
        <label for="phone" class="form-label">Telefone <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="phone" placeholder="Digite o numero de telefone">
    </div>
    <div class="row mt-4">
        <div class="col-md-2">
            <label for="cep" class="form-label">CEP <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="cep1" placeholder="Digite o numero do CEP">
        </div>
        <div class="col-md-1">
            <label for="cep" class="form-label">Pesquisar</label>
            <a class="btn btn-info pesquisar"><i class="fas fa-search"></i></a>
        </div>
    </div>


    <div class="col-md-6">
        <label class="form-label" for="logradouro">Logradouro</label>
        <input value="" class="form-control" type="text" id="logradouro" disabled="disabled">
    </div>

    <div class="col-md-6">
        <label class="form-label" for="complemento">Complemento</label>
        <input value="" class="form-control" type="text" id="complemento" placeholder="Digite o complemento">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="bairro">Bairro</label>
        <input value="" class="form-control" type="text" id="bairro" disabled="disabled">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="localidade">Cidade</label>
        <input value="" class="form-control" type="text" id="localidade" disabled="disabled">
    </div>
    <div class="col-md-6">
        <label class="form-label" for="uf">Estado</label>
        <input value="" class="form-control" type="text" id="uf" disabled="disabled">
    </div>
 

    <div class="col-12">
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>

</form>