@{
    ViewData["Title"] = "Pagina inicial";

}

<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>

<hr />
<div class="items mb-5">

    <h5>Médicos</h5>
    <br />
    <a asp-controller="Doctor" asp-action="New" class="btn btn-outline-primary">Cadastrar novo médico</a>
    <a asp-controller="Doctor" asp-action="Index" class="btn btn-outline-primary ms-3">Listar medicos</a>
</div>

<div class="items mb-5">

    <h5>Pacientes</h5>
    <br />
    <a asp-controller="Patient" asp-action="New" class="btn btn-outline-primary ">Cadastrar paciente</a>
    <a asp-controller="Patient" asp-action="Index" class="btn btn-outline-primary ms-3">Listar pacientes</a>
</div>

<div class="items mb-5">

    <h5>Auxiliares</h5>
    <br />
    <a asp-controller="Assistant" asp-action="New" class="btn btn-outline-primary ">Cadastrar assistentes</a>
    <a asp-controller="Assistant" asp-action="Index" class="btn btn-outline-primary ms-3">Listar assistentes</a>
</div>

<div class="items mb-5">

    <h5>Agendamento</h5>
    <br />
    <a asp-controller="Scheduling" asp-action="New" class="btn btn-outline-primary ">Novo agendamento</a>
    <a asp-controller="Scheduling" asp-action="Index" class="btn btn-outline-primary ms-3">Agendamentos</a>
</div>
