@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h3 class="display-6">Pagina Inicial</h3>
</div>

<hr />
<div class="items mb-5">

    <h5>Médicos</h5>
    <br />
    <a class="btn btn-outline-primary btn-lg">Cadastrar novo médico</a>
    <a class="btn btn-outline-primary btn-lg ms-3">Listar medicos</a>
</div>

<div class="items mb-5">

    <h5>Pacientes</h5>
    <br />
    <a class="btn btn-outline-primary btn-lg">Cadastrar novo médico</a>
    <a class="btn btn-outline-primary btn-lg ms-3">Listar medicos</a>
</div>

<div class="items mb-5">

    <h5>Secretaria</h5>
    <br />
    <a class="btn btn-outline-primary btn-lg">Cadastrar novo médico</a>
    <a class="btn btn-outline-primary btn-lg ms-3">Listar medicos</a>
</div>

<div class="items mb-5">

    <h5>Agendamento</h5>
    <br />
    <a class="btn btn-outline-primary btn-lg">Cadastrar novo médico</a>
    <a class="btn btn-outline-primary btn-lg ms-3">Listar medicos</a>
</div>