@model Person

@{
    ViewData["Title"] = "Pagina inicial";

}

<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>

<hr />


@if (Model.PersonType == PresMed.Models.Enums.PersonType.Doctor) {

}

@if (Model.PersonType == PresMed.Models.Enums.PersonType.Patient) {

}

@if (Model.PersonType == PresMed.Models.Enums.PersonType.Assistant) {


    <div class="row">

        <div class="items mb-5 ms-4 col-5">

            <h5>Horario de atendimento dos medicos</h5>
            <br />
            <a asp-controller="Time" asp-action="Index" class="btn btn-outline-primary ms-3">Horarios</a>
        </div>
        <div class="items mb-5 ms-4 col-5">

            <h5>Configurações gerais da Clínica</h5>
            <br />
            <a asp-controller="ClinicOpening" asp-action="Index" class="btn btn-outline-primary ms-3">Configuração da Clínica</a>
        </div>
    </div>

    <div class="row">



        <div class="items mb-5 ms-4 col-5">

            <h5>Procedimentos</h5>
            <br />
            <a asp-controller="Procedures" asp-action="Index" class="btn btn-outline-primary ms-3">Procedimentos</a>
        </div>

        <div class="items mb-5 ms-4 col-5">

            <h5>Assistentes</h5>
            <br />
            <a asp-controller="Assistant" asp-action="Index" class="btn btn-outline-primary ms-3">Assistentes</a>
        </div>

    </div>

    <div class="row">

        <div class="items mb-5 ms-4 col-5">

            <h5>Médicos</h5>
            <br />
            <a asp-controller="Doctor" asp-action="Index" class="btn btn-outline-primary ms-3">Médicos</a>
        </div>

        <div class="items mb-5 ms-4 col-5">

            <h5>Remedios</h5>
            <br />
            <a asp-controller="Medicine" asp-action="Index" class="btn btn-outline-primary ms-3">Remedios</a>
        </div>

    </div>

    <div class="row">

        <div class="items mb-5 ms-4 col-5">

            <h5>CID</h5>
            <br />
            <a asp-controller="Cid" asp-action="Index" class="btn btn-outline-primary ms-3">Cid</a>
        </div>


    </div>



    <br />



}