@{
    ViewData["Title"] = "Pagina inicial";

}

<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>

<hr />

<div class="items mb-5">

    <h5>Horario de atendimento dos medicos</h5>
    <br />
    <a asp-controller="Time" asp-action="Index" class="btn btn-outline-primary ms-3">Horarios</a>
</div>

<div class="items mb-5">

    <h5>Horario de funcionamento da clinica</h5>
    <br />
    <a asp-controller="ClinicalOpening" asp-action="Index" class="btn btn-outline-primary ms-3">Horario de funcionamento</a>
</div>

<div class="items mb-5">

    <h5>Procedimentos</h5>
    <br />
    <a asp-controller="Procedures" asp-action="Index" class="btn btn-outline-primary ms-3">Procedimentos</a>
</div>




