@model Person

<nav class="nav">
    <div>
        <a asp-controller="Home" asp-action="Index" class="nav_logo"> <img img src="~/images/documento.png" width="20px" height="20px" class='nav_logo-icon' /> <span class="nav_logo-name">PresMed</span> </a>
        <div class="nav_list">
            @if (Model.PersonType == PresMed.Models.Enums.PersonType.Doctor) {
                <a asp-controller="Attendance" asp-action="Index" class="nav_link" id="agendamentos"> <i class="fas fa-briefcase"></i> <span class="nav_name">Atendimento</span> </a>
                <a asp-controller="Attendance" asp-action="Scheduling" class="nav_link" id="agendamentos"> <i class="fas fa-calendar-alt"></i> <span class="nav_name">Agenda</span> </a>
                <a asp-controller="Attendance" asp-action="DoctorSelfEdit" class="nav_link" id="agendamentos"> <i class="far fa-clock"></i> <span class="nav_name" title="Horario de Atendimento">Horario de Atendimento</span> </a>
            }
            @if (Model.PersonType == PresMed.Models.Enums.PersonType.Assistant) {
                <a asp-controller="Home" asp-action="Index" class="nav_link" id="home"> <i class="fas fa-home"></i> <span class="nav_name">Página Inicial</span> </a>
                <a asp-controller="Scheduling" asp-action="Index" class="nav_link" id="agendamentos"> <i class="fas fa-calendar-alt"></i> <span class="nav_name">Agendamentos</span> </a>
                <a asp-controller="Patient" asp-action="Index" class="nav_link" id="pacientes"> <i class="fas fa-user-injured"></i> <span class="nav_name">Pacientes</span> </a>
            }
            @if (Model.PersonType == PresMed.Models.Enums.PersonType.Patient) {

            }

        </div>
    </div>
    <div class="nav_list">
        <a asp-controller="Home" asp-action="ChangePassword" class="nav_link"><i class="fas fa-key"></i> <span class="nav_name">Trocar senha</span> </a>
        <a asp-controller="Login" asp-action="Exit" class="nav_link"> <i class="fas fa-sign-out-alt"></i> <span class="nav_name">Sair</span> </a>
    </div>
</nav>