@{
    ViewData["Title"] = "Pacientes";
}

<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>
<hr />

<div class="d-block me-sm-5 ">
    <span class="display-4">Listagem de pacientes</span>
    <div class="d-inline-block float-sm-end">
        <a asp-action="New" asp-controller="Patient" class="link-dark"><img src="~/images/add.png" height="32px" width="32px" class="d-block" /><span>Novo</span></a>
    </div>
</div>

<br />

<table class="table table-striped text-center" id="table-contacts">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Nome</th>
            <th class="text-center" scope="col">Usuario</th>
            <th class="text-center" scope="col">E-mail</th>
            <th class="text-center" scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01</td>
            <td>Fernando Ferreira</td>
            <td>FFERREIRA</td>
            <td>fernando@gmail.com</td>
            <td>
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" asp-route-id="" asp-controller="Patient" asp-action="Edit">Editar</a>
                    <a role="button" class="btn btn-danger" asp-route-id="" asp-controller="Patient" asp-action="Delete">Apagar</a>
                </div>
            </td>

        </tr>
        <tr>
            <td>01</td>
            <td>Fernando Ferreira</td>
            <td>FFERREIRA</td>
            <td>fernando@gmail.com</td>
            <td>
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" asp-route-id="" asp-controller="Patient" asp-action="Edit">Editar</a>
                    <a role="button" class="btn btn-danger" asp-route-id="" asp-controller="Patient" asp-action="Delete">Apagar</a>
                </div>
            </td>

        </tr>
        <tr>
            <td>01</td>
            <td>Fernando Ferreira</td>
            <td>FFERREIRA</td>
            <td>fernando@gmail.com</td>
            <td>
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" asp-route-id="" asp-controller="Patient" asp-action="Edit">Editar</a>
                    <a role="button" class="btn btn-danger" asp-route-id="" asp-controller="Patient" asp-action="Delete">Apagar</a>
                </div>
            </td>

        </tr>

    </tbody>
</table>