@{
    ViewData["Title"] = "Pagina restrita";

}

<div class="flex-row mt-5">
    <div style="text-align: center;" class="col-12">
        <i class="fas fa-exclamation" style="font-size:188px;"></i>

    </div>
</div>
<div class="flex-row mt-5">
    <div style="text-align: center;" class="col-12">
        <span class="display-3">Acesso Negado</span>
        <div>Você não tem permissão para acessar essa pagina.</div>
        <div>Contate o administrador do sistema ou volte para a pagina inicial e navegue para as funções liberadas.</div>
    </div>
</div>